<h1>Wish lists</h1>

<table>
  <thead>
    <tr>
      <th>Wish</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @wishes.each do |wish| %>
      <% if wish.user == current_user %>
        <tr>
          <td><%= wish.name %></td>
          <td><%= wish.status? ? "Granted" : "Denied" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Add wish", new_wishlist_path %>
